@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* VARIABLES */
    --max-content-width: 1200px;
    --product-section-max-content-width: 500px
}

html {
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}