@font-face {
    font-family: 'Goia-display';
    src: url('public/fonts/Goia/GoiaDisplay-SemiBold.otf') format('opentype'),
         url('public/fonts/Goia/variable/GoiaDisplayVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
  }
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* VARIABLES */
    --max-content-width: 1200px;
}

html {
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}